@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/* #root {
  height: auto;
} */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, monospace;
  /* height: 100vh; */
}
.cardsBody {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 4em;
  margin-top: 2em;
  /* display: flex; */
  justify-content: center;
  width: 100vw;
  /* height: 80vh; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  padding: 2em;
  background-color: #c92f4f;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
}

#tube {
  color: white;
}

.search {
  text-transform: uppercase;
}

.main {
  /* background-color: #d1c6c6; */
  height: 70vh;
}

.card-deck {
  padding-top: 2em;
  color: white;
}

.card {
  /* border: 1px rgb(175, 12, 12) solid; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 17rem;
  border-radius: 5px;
  margin-bottom: 2em;
  background-color: #fff;
  height: auto;
  /* gap: 1em; */
  /* display: grid; */
}

.iframes {
  border: none;
}

/* .testing {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5em;
} */
.likeButton {
  display: inline-block;
  padding: 2px 5px 5px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3b4255;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px 20px;
}

.dislikeButton {
  display: inline-block;
  padding: 5px 5px 2px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #424c68;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px 20px;
}

.likeButtonActive {
  background-color: #39cc2c;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 2px 5px 5px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}
.dislikeButtonActive {
  background-color: #e22d15;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  display: inline-block;
  padding: 5px 5px 2px 5px;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 20px 20px;
}
.button-align {
  align-items: center;
}
.btn-primary {
  margin-top: 5px;
  margin-bottom: 20px;
}
.footer {
  text-align: center;
  margin-top: auto;
}
footer a :hover {
  color: rgba(170, 235, 243, 0.952);
  background-color: transparent;
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 3rem;
}
footer ul {
  padding-left: 0;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}
footer a {
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: x-large;
}
li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}
