@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, monospace;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  padding: 2em;
  background-color: #c92f4f;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
}

#tube {
  color: white;
}

.search {
  text-transform: uppercase;
}
